#content{
    min-height: 100vh;
}
main > article{
    border-radius: 15px;
    width: 840px;
    padding: 50px;
    padding-top: 20px;
    margin: auto;
    transition: 400ms;
    background: linear-gradient(to left, var(--color2), var(--color0))
}
main > article > div > h1 {
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-size: 40px;
}
main > article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: row;
    margin-bottom: 30px;
}
main > article[class=computer]{
    flex-direction: column;
}
main > article[class=computer] img{
    width: 600px;
}
main > article >  div > p{
    font-size: 20px;
    text-align: justify;
    color: white;
    font-weight: 600;
}
main > article img{
    width: 300px;
    margin-top: 100px;
    border-radius: 15px;
}
main > article img[class=mobile]{
    width: 200px;
    margin-top: 100px;
    margin-left: 20px;
}

@media only screen and (max-width: 960px) {
    main > article{
        flex-direction: column;
        width: auto;
        margin: 20px;
    }
    main > article > img{
        margin-top: 0;
        width: 200px;
    }
    main > article[class=computer] img{
        width: 400px;
    }
}
@media only screen and (max-width: 520px) {
    main > article > div > h1{
        font-size: 30px;
    }
    main > article[class=computer] img{
        width: 300px;
    }
}
#popup{
    display: none;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    width: 100%;
    height: 100vh;
}
#popup > img{
    margin: 5vh auto auto;
    width: 80vw;
    display: block;
    animation-duration: 0.6s;
    animation-name: zoom;
}
#popup > span{
    position: absolute;
    font-size: 5vh;
    font-weight: bold;
    transition: 0.3s;
    top: 5%;
    left: 80%;
    color: white;
    cursor: pointer;
}
#popup > span:hover{
    color: rgb(194, 194, 194);
    transition: 0.3s;
}
@keyframes zoom {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
}